.main-container {
    display: flex;
} 

.posts {
    flex: 9;
}

.sidebar {
    flex: 2;
    margin: 20px;
    padding-bottom: 30px;
    background-color:red;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.sidebar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-title {





    
}
.sidebar-list {
    background-color: green;
    list-style-type: none;
    font-size: 20px;
  
   
    
}