.main-container {
    display: flex;
} 

/* blog post css */

.posts {
    flex: 9;
    display: flex;
    flex-wrap: wrap;
}

.post {
    width: 500px;
    margin: 0px 25px 40px 30px;
    background-color: white;
    padding: 10px 30px 10px   0px;
}

.post-info {
    display: flex;
    flex-direction: column; 
    
 
}

.post-date {
    font-size: 18px;
    font-weight: 600;
    font-family: Georama;
    margin-left: 10px;
    
}


.post-title {
    border-bottom: 3px solid green;
    font-family: Georama;
    font-size: 20px;
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    margin-left: 0px;
    text-align: left;
  
}

.post-img {
    margin-top: 15px;
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 2px;
  
}

.post-des {
    margin-top: 15px;
    font-size: 15px;
    line-height: 25px;
   
    

}

/* sidebar css */

.sidebar {
    flex: 2;
    margin-top: 0px;
    margin-right: 45px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: white;
    height: 400px;
}


.sidebar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-title {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    letter-spacing: 0.1em;
    font-size: 24px;
    border-bottom: 3px green solid;
    font-family: var(--titleFont);
    font-weight: 600;
    line-height: 30px;  
}


.sidebar-list { 
    font-family: Georama;
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 25px;
    text-align: left; 
   /* cursor: pointer; */ 
}

.sidebar-list:hover {
    transform: translate3d(0, 2px, 0);

}