/* cards */


.carousel {
    padding-top: 80px;
    padding-bottom: 80px;
    margin-top: 70px;

}



.card {
    height: 50vh;
    border: 20px #fbfbf9 solid;
    border-radius: 33px;
    ;
    background-color: white;
    padding: 30px;


}

.p {
    font-family: var(--textFont);

}

.username {
    font-family: var(--titleFont);
    text-align: center;
    font-size: 23px;
    background-color: var(--highLightOne);
    color: white;
    font-weight: 600;
    padding-left: 17px;
}


.top {
    background-color: var(--highLightOne);
    margin-top: -5px;
    border-radius: 25px;
    width: 53vh;
    display: flex;
    height: 10vh;
    align-items: center;

}


