.form-container, .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    width: 100%;
    font-family: var(--textFont);
  }
  
  .header-container{
    height: 12%;
    display: flex;
    align-items: center;
   justify-content: space-between;
   border-bottom: 1px solid #aaa;
   padding: 10px;
  }
  
  .input{
    border-radius: 5px;
    padding-left: 1vmin;
    height: 8%;
    border: 1px solid #e6e6e6;
  }
  
  .input:focus, .input-textarea:focus {
    outline: none;
  }
  
  
  .close-icon{
    height: 100%;
  }
  .input{
    height: 5vmin;
  }
  
  .input-textarea{
    height: 15vmin;
  }
  
  .label{
    font-weight:200;
    color: var(--lighterFontColor)
  }

  .create-plot-button{
    align-self: center;
    border-radius: 999px;
    margin-top: 20px;
    box-sizing: border-box;
    font-family: var(--textFont);
    color: #FFFFFF;
    cursor: pointer;
    opacity: 1;
    border: 2px solid;
    border-color: white;
    padding: 8px 18px;
    text-align: center; 
    font-size: 2vmin; 
    height: 15%;
    width: 30%; 
    background-color: var(--highLightTwo);
    box-shadow:var(--highLightTwo) 0 10px 20px -10px;
  }