.crop-table-container{

   background-color:  #D0D5DD;
   

  width: 100%; 

}

.crop-card{
    font-family: var(--textFont);
    margin-top: 2%;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(211, 64, 1, 0.1); 
    color:black;
    border-radius: 10px;
    width: 90%;
    margin-left: 5%;
    
    
   

    
}   
/*var(--mainWhite)*/

.crop-name>img{
    height:40%;
    
}

.crop-name , .crop-season, .crop-harvest-time, .crop-difficulty{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:25%;
    height: 5.1rem;
   
}

.crop-name>p{
    width: 100%;
    text-align: center;
}


.crop-season>p:last-child, .crop-harvest-time>p:last-child, .crop-difficulty>p:last-child{

    height: 40%;
    text-align: center;
    line-height: 2rem;
 
}

