.crop-table-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 50%;
    height: 50vh;
    margin-left: 0%;
    background-color: transparent;
}

.crop-card {
    font-family: var(--textFont);
    margin-top: 2%;
    display: flex;
    align-items: center;
    background-color: transparent;
    color: black;
    border-radius: 10px;
    width: 80%;
    font-size: 13px;
    margin-left: 5%;
    border: 3px solid #F6873D;
    
}

@media screen and (max-width: 768px) {
    .crop-table-container{
        width: 90%;
        height: 100%;
        margin: auto;
        margin-top: 14rem;
        align-items: flex-end;
      }
    
      .crop-card{
        width: 100%;
        height: 100%;
      }
      .footer{
        margin-top:0rem;
        height: 58px;
      }
}

@media screen and (max-width: 425px) {
    .crop-table-container{
        width: 100%;
        height: 100%;
        margin: auto;
        margin-top: 2rem;
        align-items: flex-end;
      }
    
      .crop-card{
        width: 100%;
        height: 100%;
      }
      .footer{
        margin-top:0rem;
        height: 58px;
      }
}



@media screen and (max-width: 375px) {
    .crop-table-container{
        width: 100%;
        height: 100%;
        margin: auto;
        margin-top: 2rem;
        align-items: flex-end;
      }
    
      .crop-card{
        width: 100%;
        height: 100%;
      }
      
}

.crop-card:hover {

    transform: translate3d(0, 2px, 0);
}


/*var(--mainWhite)*/

.crop-name>img {
    height: 45%;



}

.crop-name {
    margin-left: 1%;
    text-align: center;
}

.crop-name,
.crop-season,
.crop-harvest-time,
.crop-difficulty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 4.9rem;


}




.crop-season>p:last-child,
.crop-harvest-time>p:last-child,
.crop-difficulty>p:last-child {

    height: 50%;
    text-align: center;
    line-height: 1.5rem;

}

@media screen and (max-width: 768px) {
    .crop-table {
        width: 45%;
    }
}


@media screen and (max-width: 425px) {
    .crop-table {
        width: 100%;
        margin-bottom: 3rem;
    }
}