.main-container {

  box-sizing: border-box;
  height: 100vh;
  background-image: url('/illustrations/dashboard-background.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;

}

.left-container {
  
    float: left;
      margin-left: 7.5%;
      align-items: center;
      width: 25%;
      background-color: transparent 0.9;
      border-radius: 20px;
      box-shadow: 0px 0px 10px #ccc;
      margin-top: -5.5%;
      margin-right: 2.5%;
      height: 73.3%;
      backdrop-filter: blur(3px);
}

.right-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 57.5%;
    height: 60%;
    margin-top: 2%;
    border-radius: 20px;
    background-color: transparent;
    box-shadow: 0px 0px 10px #ccc;
    padding: 20px;
    backdrop-filter: blur(3px);
}

/* title details */

.title-container{
  display: flex;
    align-items: center;
    justify-content: left;
    padding: 20px;
    box-shadow: 0px 0px 10px #ccc;
    background-color: transparent;
    margin-left: 35%;
    margin-top: 3%;
    width: 57.5%;
    height: 10%;
    border-radius: 20px;
    backdrop-filter: blur(3px);  
}


.title-user-img {
width: 5.5%;
margin-left: 4%;

}


.title-user-name {
  font-family: var(--titleFont);
    font-size: 22px;
    margin-left: 2%;
    color: black;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
  
  }

.title-buttons-container {
  display: flex;
  margin-left: 15%;
}

.title-myListings-button {
 
    background-color: rgba(40, 160, 80, 1);
      border-radius: 10px;
      border: 2px white solid;
      width: 160px;
      cursor: pointer;
      font-family: var(--textFont);
      font-size: 1.5rem;
      padding: .35rem;
      color: white;
  
}

.title-myMessages-button {

    background-color: #F17C2E;
      border-radius: 10px;
      border: 2px white solid;
      width: 160px;
      cursor: pointer;
      font-family: var(--textFont);
      font-size: 1.5rem;
      padding: .35rem;
      color: white;
      margin-left: 5%;

}


.title-myListings-button:hover, .title-myMessages-button:hover{
  transform: translate3d(0, 2px, 0);
}


/* profile details */

.profile-container {

    display: flex;
    flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: white;
      font-family: var(--titleFont);
      backdrop-filter: blur(2px);
      box-shadow: 0px 0px 10px #ccc;
      margin-top: 10%;
      border-radius: 10px;
      height: 40%;
      width: 80%;
      margin-left: 10%;
 
}

.profile-user-name {
  display: flex;
  justify-content: center;
  font-size: 15px;
  color: black;
  border-bottom: 3px green solid;
}

.profile-user-info {
      margin-top: 5%;
      display: block;
      text-align: left;
      line-height: 38px;
      font-size: 17px;
      height: 40%;
      margin-bottom: 25%;

 
}

.profile-container:hover {

  transform: translate3d(0, 2px, 0);
}

/* plot image */

.plot-picture {
  display: flex;
  margin-top: 5%;
  margin-left: 5%;
  width: 90%;
  height: 40%;
  border-radius: 10px;

}


/* pie chart */

.plot-chart {

    display: flex;
    justify-content: right;
    flex-direction: column;
    background-color: transparent;
    width: 50%;
    height: 50vh;

}

/* new user dashboard */

.message-container {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
  height: 100%;
}

.button-one,
.button-two {
  border-radius: 999px;
  box-sizing: border-box;
  font-family: var(--textFont);
  color: #ffffff;
  cursor: pointer;
  opacity: 1;
  border: 2px solid;
  border-color: white;
  padding: 8px 18px;
  text-align: center;
  font-size: 0.94rem;
  font-weight: 600;
  height: 55px;
  width: 160px;
}

.button-one {
  background: var(--highLightTwo);
  box-shadow: var(--highLightOne) 0 10px 20px -10px;
}


.add-plot-message {
  align-self: center;
  justify-self: center;
  font-family: "Happy Monkey";
}

.pop-up-background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.pop-up {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: rgb(0, 0, 0, 0.5) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  background-color: #ffffff;
  padding: 20px;
  width: 50%;
 height: 80%;
}



@media screen and (max-width: 1024px) {

.left-container {
      
    margin-left: 2%;
      width: 30%;
      margin-top: 3%;
      margin-right: 2%;
      height: 60%;
  
    }

.right-container {
  width: 64%;
  height: 60%;
  margin-top: 3%;

}

.title-container {
  padding: 15px;
  margin-left: 2%;
  margin-top: 5%;
  width: 96%;
  height: 9%;

}

.title-user-img {
  width: 8%;
  margin-left: 2%;

}

.title-buttons-container {
  margin-left: 20%;
}

.title-user-name {
  font-size: 28px;

}

.profile-user-info {
  margin-top: 15%;
  font-size: 19px;
  margin-bottom: 20%;

}

.profile-container {
  margin-top: 13%;
  height: 40%;
  width: 90%;
  margin-left: 5%;

}

.plot-picture {
  margin-top: 15%;
  height: 30%;
}


.plot-chart {
  margin-left: 50%;
  width: 55%;
  height: 30vh;
  margin-top: -120%;

}

}





















@media screen and (max-width: 820px) {
  .main-container {
      height: 90vh;
    
    }

.left-container {
    margin-left: 2%;
    width: 30%;
    margin-top: 3%;
    margin-right: 2%;
    height: 55%;

  }


.right-container {
      width: 63%;
      height: 55%;
      margin-top: 3%;
     
     
  }


.title-container {
  padding: 15px;
  margin-left: 2%;
  margin-top: 5%;
  width: 94.5%;
  height: 9%;

}

.title-user-img {
  width: 8%;
  margin-left: 2%;

}

.title-user-name {
  font-size: 20px;
  margin-left: 2%;

}

.title-myListings-button {
  width: 140px;
  font-size: 20px;
  padding: .35rem;
  margin-right: 10px;

 
}

.title-myMessages-button {
    width: 140px;
    font-size: 20px;
    padding: .35rem;
    margin-right: 15px ;
   
 
  }

.title-buttons-container {
     margin-left: 20%;
    }


.plot-picture {
  margin-top: 15%;
  height: 30%;
}

.profile-user-info {
  margin-top: 10%;
  line-height: 38px;
  font-size: 16px;
  height: 40%;
  margin-bottom: 25%;


}

.profile-container {
  margin-top: 15%;
  height: 40%;
  width: 90%;
  margin-left: 5%;

}

.plot-chart {
  margin-left: 51%;
  width: 54%;
  height: 30vh;
  margin-top: -100%;

}

}

@media screen and (max-width: 768px) {

.profile-user-info {
    margin-top: 5%;
    line-height: 36px;
    font-size: 14px;
    height: 60%;
    margin-bottom: 10%;

  }

.profile-user-name {
  font-size: 13px;
}

.title-user-name {
  font-size: 16px;

}



}



 @media screen and (max-width: 425px) {
  
   .main-container {
    height: auto;
    background-image: url('../public/illustrations/phone-wallpaper.png');
    background-repeat: repeat;
    background-position: center;
    background-size: contain;
    
   
   }

   .title-container {
    width: 90%;
    margin: 0%;
    margin-left: 5%;
    flex-direction: column;
    margin-top: 10%;
    padding-top: 10px;
    background-color: white;
   
   }

   .title-user-img {
     margin: auto;
     width: 45px;
     padding-bottom: 5px;
   }

   
   .title-buttons-container {
     margin: auto;
     margin-top: 0.5rem;
   }


   .title-myListings-button,
   .title-myMessages-button {
     width: 100px;
     font-size: 0.9rem;
     font-weight: 500;
     height: 35px;
     margin: auto;
   }



   .left-container {
     display: flex;
     width: 90%;
     flex-direction: column;
     margin-left: 5%;
     margin-top: 8%;
     background-color :white;
   
   }



   .plot-picture {
     width: 80%;
     margin-right: 5%;
     
   }

    .profile-container {
      margin-top: 8%;
      margin-right: 5%;
      width: 80%;
      margin-bottom: 10%;
    
    }

 .profile-user-info {
   margin-top: 10%;
   line-height: 35px;
   margin-bottom: 10%;
   
 }

.profile-user-name {
  margin-top: 5%;

}

   .plot-chart {
     width: 90%;
     height: 35vh;
     margin: auto;
     margin-top: 5%;

   }

   .right-container {
     width: 90%;
     margin-left: 5%;
     margin-top: 155%;
     margin-bottom: 15%;
     display: flex;
     flex-direction: column-reverse;
    background-color: white;
   }
 }

 
 

@media screen and (max-width: 375px) {

  .profile-container {
    
      margin-right: 5%;
 
  
    }


  

    .profile-user-info {
      margin-top: 8%;
      line-height: 32px;
      font-size: 15px;
    
  
    }
  
    .profile-user-name {
      font-size: 13px;
  
    }
  
    .plot-chart {
      width: 100%;
      height: 38vh;
  
    }

     .right-container {
       margin-top: 160%;
     }

    }

  
@media screen and (max-width: 280px) {

  .right-container {
    margin-top: 170%;
  }

 
  }

   


















/*

 @media screen and (max-width: 1024px) {
  .title-container{
    margin-left: 30%;
    width: 64%;
  }
  .title-user-img{
    width: 8%;
    height: auto;
    float : right;
    margin-left: 2rem;
  }
  .title-myListings-button, .title-myMessages-button{
    width:5.7rem;
    font-size: .8rem;
  }
  .left-container{
    margin-left: 1.5%;
    width: 20rem;
  }
  .right-container{
    margin-top: 0;
  }
  .profile-container{
    width: 100%;
    height: 40vh;
    margin-left: 0%;
    float: right;
  }
  .profile-user-info{
    margin-top: 2rem;
    font-size: 1.2rem;
  }
  
  .crop-table-container{
    width: 68%;
    margin-left: -7%;
  }
  .h1element{
    font-size: 2em;
  }
  .search-button{
    line-height: 11px;
  }
  .logo{
    width: 0;
  }
  .pieChart{
    width: 17rem;
    height: 17rem;
    margin-top: 0;
    margin-left: 4.5rem;
    margin-bottom: 5rem;
  } 



   
 } 

 */







