.main-container {
  box-sizing: border-box;
  height: 100vh;

}

.left-container {
  background-color: #fbfbf9;
  margin-left: 5.2%;
  margin-top: 2%;
  width: 35%;
  height: 86%;
  border: 3px #D0D5DD solid;
  border-radius: 5px;
  margin-right: 5%;
  float: left;
}


.right-container-top {
  background-color:#fbfbf9;
  margin-left: 0%;
  margin-top: 2%;
  width: 49.5%;
  border: 3px #D0D5DD solid;
  border-radius: 5px;
  float: left;
  height: 290px;
    
}

.right-container-bottom {
  background-color: #fbfbf9;
  margin-left: 0%;
  width: 49.5%;
  border: 3px #D0D5DD solid;
  float: left;
  height: 370px;
  border-radius: 5px;
  margin-top: 1%;
}



/* title details */

.title-container{
  background-color: #fbfbf9;
  border: 5px #D0D5DD solid;
  border-radius: 15px;
  display: flex;
  margin: auto;
  width: 90%;
  height: 13%;
  align-items: center;
  margin-top: 4%;
  
}

.title-user-img {
width: 5.5%;
margin-left: 4.5%;

}


.title-user-name {
font-family: var(--textFont);
font-size: 35px;
margin-left: 3%;
color: rgb(109, 109, 109);
  
}

.title-buttons-container {
  margin-left: 19%;

  
}

.title-myListings-button {
  background-color:white;
  border-radius: 15px;
  opacity: 0.8;
  border-style: 2px #D0D5DD solid;
  width: 200px;
  cursor: pointer;
  font-family: var(--textFont);
  font-size: 1.5rem;
  padding: .35rem;

}

.title-myMessages-button {
  background-color: white;
  border-radius: 15px;
  opacity: 0.8;
  border-style: 2px #D0D5DD solid;
  width: 200px;
  cursor: pointer;
  font-family: var(--textFont);
  font-size: 1.5rem;
  padding: .35rem;
  margin-left: 10px;

}


.title-myListings-button:hover, .title-myMessages-button:hover{
  box-shadow: var(--highLightTwo) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}


/* profile details */

.profile-container {
  background-color: #fbfbf9;
  border: 3px #D0D5DD solid;
  border-radius: 15px;
  box-sizing: content-box;
  width: 80%;
  height: 45%;
  align-items: center;
  margin-top: 4%;
  margin-left: 10%;
  font-family: var(--textFont);
 
}

.profile-user-name {
  display: flex;
  justify-content: center;
  padding-top: 5%;
}


.profile-user-info {
  display: block;
  margin-top: 6%;
  text-align: left;
  line-height: 35px;
  font-size: 20px;
  margin-left: 5%;

 
}

/* plot image */

.plot-picture {
  display: flex;
  margin-top: 5%;
  margin-left: 10%;
  width: 80%;
  height: 45%;
  border-radius: 3px;

}


/* pie chart */

.plot-chart {
  display: flex;
  justify-content: center;
  background-color: #fbfbf9;
  margin-top: 2%;
  margin-left: 25%;
  width: 50%;
  height: 95%;
 
}


/* crop table */

/* in a different file - CropTable.module.css */








 @media screen and (max-width: 1024px) {
  .imageProfile{
    width: 30%;
    height: auto;
    float : right;
    margin-left: 2rem;
  }
  .profile{
    
    float : right;
  }
  .h2UserDetails{
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  .h4UserInfo{
    font-size: 1.2rem;
  }
  .container{
    margin-top: 2%;
    width: 85%;
    height: 70px;
  }

  .h1element{
    font-size: 2em;
  }
  .search-button{
    line-height: 11px;
  }
  .logo{
    width: 0;
  }
  .pieChart{
    width: 17rem;
    height: 17rem;
    margin-top: 0;
    margin-left: 4.5rem;
    margin-bottom: 5rem;
  } 
   
 } 
 /* ////////////////// */
/* Breakpoint @ 768px */
@media screen and (max-width: 768px){
  .container{
    margin-top: 4%;
    width: 95%;
    height: 70px;
    flex-direction: row;
  }
  .h1element{
    font-size: 2rem;
    margin: auto;
    line-height: 40px;
  }
  .imageProfile{
    /* margin: auto;
    margin-top: 2rem; */
    width: 5rem;
    height: 5rem;
    margin-top: 2rem;
  }
  .carouselContainer {
    width: 46%;
    margin: auto;
    margin-top: 2rem;
  }
  .userPlotImage{
    width: 100%;
    height: 100%;
    
  }
  .h4UserInfo{
    font-size: 1rem;
    width: 200px;
  }
  .imageProfile{
    /* margin: auto;
    margin-top: 2rem; */
    width: 3.5rem;
    height: 3.5rem;
    margin-top: -2rem;
  }
  .pieChart {
    width: 40%;
    height: 40%;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }  

}
/* /////////////////// */
/* Breakpoint @ 425px */
@media screen and (max-width: 425px) {

  .container{
    margin-top: 12%;
    width: 90%;
    height: 50px;
    flex-direction: column;
   
  }
  .h1element{
    font-size: 2.1em;
    margin: auto;
    line-height: 40px;
  }

  .buttonsContainer{  
    margin: auto;
    margin-top: 1.5rem;
  }
  .carouselContainer {
    width: 90%;
    height: 30%;
    margin-top: 23%;
  }
  .userPlotImage{
    width: 100%;
    height: 100%;
    
  }
  
  .mainContainer{
    flex-direction: column;
  }
  .profileContainer{
    display: flex;
    margin-bottom: 2rem;
    line-height: 1px;
    justify-content: space-between;
  }
  .profile{
    min-width: 70%;
    height: 100%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
  }
  .profileInformation{
    margin-top: 2rem;
  }
  .h2UserDetails{
    font-size: 1.5rem;
   
  }
  .h4UserInfo{
    font-size: 1rem;
  }
  .imageProfile{
    /* margin: auto;
    margin-top: 2rem; */
    width: 4rem;
    height: 4rem;
    margin-top: 0;
  }
  .pieChart {
    width: 80%;
    height: 80%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }  
}  




/* //////////////////// */
/* Breakpoint @ 375px */
@media screen and (max-width: 375px) {

  .container{
    margin-top: 12%;
    width: 83%;
    height: 50px;
    flex-direction: column;
  }
  .h1element{
    font-size: 2em;
    margin-top: 2%;;
  }
  .carouselContainer {
    width: 90%;
    height: 30%;
    margin-top: 28%;
  }
  .userPlotImage{
    width: 100%;
    height: 100%;
  }
  .buttonsContainer{  
    margin: auto;
    margin-top: 2rem;
  }
  .mainContainer{
    flex-direction: column;
  }
  .profileContainer{
    display: flex;
    margin-bottom: 2rem;
    line-height: 1px;
  }
  .profile{
    min-width: 72%;
    height: 100%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .profileInformation{
    margin-top: 2rem;
  }
  .h2UserDetails{
    font-size: 1.5rem;
    margin-right: 0;
    margin-top: 4rem;
  }

  .h4UserInfo{
    font-size: 1rem;
  }

  .imageProfile{
    margin: auto;
    margin-top: 2rem;
    width: 4rem;
    height: 4rem;
  }
  .pieChart {
    width: 100%;
    height: 100%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
} 

