.main-container {
  box-sizing: border-box;
  height: 100vh;
  background-image: url('/illustrations/dashboard-background.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;

}

.left-container {
    float: left;
      margin-left: 7.5%;
      align-items: center;
      width: 25%;
      background-color: transparent 0.9;
      border-radius: 20px;
      box-shadow: 0px 0px 10px #ccc;
      margin-top: -5.5%;
      margin-right: 2.5%;
      height: 73.5%;
      backdrop-filter: blur(3px);
}
.right-container {
    display: grid;
    grid-template-columns: max-content(2, 1fr);
    align-items: center;
    width: 57.5%;
    height: 60%;
    margin-top: 2%;
    border-radius: 20px;
    background-color: transparent;
    box-shadow: 0px 0px 10px #ccc;
    padding: 20px;
    backdrop-filter: blur(3px);
}

/* title details */

.title-container{
  display: flex;
    align-items: center;
    justify-content: left;
    padding: 20px;
    box-shadow: 0px 0px 10px #ccc;
    background-color: transparent;
    margin-left: 35%;
    margin-top: 3%;
    width: 57.5%;
    height: 10%;
    border-radius: 20px;
    backdrop-filter: blur(3px);

  
}

.title-user-img {
width: 5.5%;
margin-left: 4.5%;

}


.title-user-name {
  font-family: var(--titleFont);
    font-size: 22px;
    margin-left: 3%;
    color: black;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
  
  }

.title-buttons-container {
  display: flex;
  margin-left: 15%;

  
}

.title-myListings-button {
 
    background-color: rgba(40, 160, 80, 1);
      border-radius: 10px;
      border: 2px white solid;
      width: 160px;
      cursor: pointer;
      font-family: var(--textFont);
      font-size: 1.5rem;
      padding: .35rem;
      color: white;
     

}

.title-myMessages-button {

    background-color: #F17C2E;
      border-radius: 10px;
      border: 2px white solid;
      width: 160px;
      cursor: pointer;
      font-family: var(--textFont);
      font-size: 1.5rem;
      padding: .35rem;
      color: white;
      margin-left: 5%;

}


.title-myListings-button:hover, .title-myMessages-button:hover{
  transform: translate3d(0, 2px, 0);
}


/* profile details */

.profile-container {

    display: flex;
    flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      background-color: white;
      font-family: var(--titleFont);
      backdrop-filter: blur(2px);
      box-shadow: 0px 0px 10px #ccc;
      margin-top: 10%;
      border-radius: 10px;
      height: 40%;
      width: 80%;
      margin-left: 10%;
 
}

.profile-user-name {
  display: flex;
    justify-content: center;
    font-size: 15px;
    color: black;
}

.profile-user-info {
 
    display: block;
      text-align: left;
      line-height: 27px;
      font-size: 17px;
      height: 30%;
      margin-bottom: 25%;

 
}

.profile-container:hover {

  transform: translate3d(0, 2px, 0);
}

/* plot image */

.plot-picture {
  display: flex;
  margin-top: 5%;
  margin-left: 5%;
  width: 90%;
  height: 40%;
  border-radius: 10px;

}


/* pie chart */

.plot-chart {

    display: flex;
    justify-content: right;
    flex-direction: column;
    background-color: transparent;
    width: 50%;
    margin-left: 50%;
    width: 50%;
    height: 50vh;
    margin-top: -55%;
    

}

 @media screen and (max-width: 1024px) {
  .title-container{
    margin-left: 30%;
    width: 64%;
  }
  .title-user-img{
    width: 8%;
    height: auto;
    float : right;
    margin-left: 2rem;
  }
  .title-myListings-button, .title-myMessages-button{
    width:5.7rem;
    font-size: .8rem;
  }
  .left-container{
    margin-left: 1.5%;
    width: 20rem;
  }
  .right-container{
    margin-top: 0;
  }
  .profile-container{
    width: 100%;
    height: 40vh;
    margin-left: 0%;
    float: right;
  }
  .profile-user-info{
    margin-top: 2rem;
    font-size: 1.2rem;
  }
  /* .container{
    margin-top: 2%;
    width: 85%;
    height: 70px;
  } */
  .crop-table-container{
    width: 64%;
    margin-left: -7%;
  }
  .h1element{
    font-size: 2em;
  }
  .search-button{
    line-height: 11px;
  }
  .logo{
    width: 0;
  }
  .pieChart{
    width: 17rem;
    height: 17rem;
    margin-top: 2rem;
    margin-left: 4.5rem;
    margin-bottom: 5rem;
  } 
   
 } 
/* /////////////////// */
/* Breakpoint @ 820px */
/* @media screen and (max-width: 820px) {

  .container{
    margin-top: 12%;
    width: 90%;
    height: 50px;
    flex-direction: column;
   
  }
  .h1element{
    font-size: 2.1em;
    margin: auto;
    line-height: 40px;
  }

  .buttonsContainer{  
    margin: auto;
    margin-top: 1.5rem;
  } */
  /* .carouselContainer {
    width: 90%;
    height: 30%;
    margin-top: 23%;
  }
  .userPlotImage{
    width: 100%;
    height: 100%;
    
  }
  
  .mainContainer{
    flex-direction: column;
  }
  .profileContainer{
    display: flex;
    margin-bottom: 2rem;
    line-height: 1px;
    justify-content: space-between;
  } */
  /* .profile{
    min-width: 70%;
    height: 100%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
  }
  .profileInformation{
    margin-top: 2rem;
  }
  .h2UserDetails{
    font-size: 1.5rem;
   
  }
  .h4UserInfo{
    font-size: 1rem;
  }
  .imageProfile{
    /* margin: auto;
    margin-top: 2rem; */
    /* width: 4rem;
    height: 4rem;
    margin-top: 0;
  }
  .pieChart {
    width: 80%;
    height: 80%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }  
}  */
 /* ////////////////// */
/* Breakpoint @ 768px */
 @media screen and (max-width: 768px){
  .main-container {
    justify-items: center;
    flex-direction: column;
    margin: auto;
    height: auto;
  }
  .title-container{
    border-radius: 15px;
    width: 100%;
    align-items: center;
    margin: auto;
    margin-top: 0%;
    display: flex;
    flex-direction: column;
  }
  .title-container{
    flex-direction: row;
    margin-top: 0;
  }

  .title-user-img{
    margin: auto;
    width: 7%;
  }
  .title-buttons-container{
    margin: auto;
    margin-top: 1rem;
    width: auto;
    
  }
  .title-myListings-button, .title-myMessages-button{
    width: 90px;
    font-size: 0.8rem;
    height: 35px;
    margin-left: 4rem;
  }
  .left-container {
    border:none;
    border-radius: 5px;
    width: 100%;
    flex-direction: column;
    margin:auto;
  }

  .plot-picture{
    width: 42%;
    margin-left: 8%;
    top: 0;
   
  }

  .plot-chart {
    width: 250px;
    height: 250px;
    margin-top: -35rem;
    float: right;
  }

  .profile-container{
    margin-top:0;
    float: left;
    width: 40%;
    height: 30vh;
    margin-left: 5rem;
    margin-bottom: 4rem;
  }
  .profile-user-info{
    margin-top: 1rem;
    height: 10%;
  }
  .right-container{
    width: auto;
    display: flex;
    flex-direction: column-reverse;
  }
  .footer{
    margin-top: 0;
  } 
}
 /* Breakpoint @ 475px */
 @media screen and (max-width: 425px) {
  .main-container {
    justify-items: center;
    flex-direction: column;
    margin: auto;
    height: auto;
  }
  .title-container{
    border-radius: 15px;
    width: 90%;
    align-items: center;
    margin: auto;
    margin-top: 0%;
    display: flex;
    flex-direction: column;
  }
  .title-user-img{
    margin: auto;
    width: 40px;
  }
  .title-buttons-container{
    margin: auto;
    margin-top: 1rem;   
  }
  .title-myListings-button, .title-myMessages-button{
    width: 80px;
    font-size: 0.7rem;
    height: 30px;
    margin:0;
  }
  .left-container {
    border:none;
    border-radius: 5px;
    width: 100%;
    flex-direction: column;
    margin:auto;
    margin-top: 0rem;
    
  }

  .plot-picture{
    width: 80%;
    margin: auto;
  }

  .plot-chart {
    width: 300px;
    height: 300px;
    margin: auto;
    margin-top: 0rem;
    
  }

  .profile-container{
    margin-top:0;
    width: 67%;
    height: 30vh;
  }
  
  .profile-user-info{
    margin-top: 1rem;
    height: 10%;
  }
  .right-container{
    width: auto;
    display: flex;
    flex-direction: column-reverse;
  }
}

/* //////////////////// */
/* Breakpoint @ 375px */
@media screen and (max-width: 375px) {
  .main-container {
    justify-items: center;
    flex-direction: column;
    margin: auto;
    height: auto;
  }
  .title-container{
    border-radius: 15px;
    width: 90%;
    align-items: center;
    margin: auto;
    margin-top: 0%;
    display: flex;
    flex-direction: column;
  }

  .title-user-img{
    margin: auto;
    width: 40px;
  }
  .title-buttons-container{
    margin: auto;
    margin-top: 1rem;
    width: auto;
    
  }
  .title-myListings-button, .title-myMessages-button{
    width: 80px;
    font-size: 0.7rem;
    height: 30px;
  }
  .left-container {
    border:none;
    border-radius: 5px;
    width: 100%;
    flex-direction: column;
    margin:auto;
    margin-top: 0rem;
    
  }

  .plot-picture{
    width: 80%;
    margin: auto;
  }

  .plot-chart {
    width: 300px;
    height: 300px;
    margin: auto;
    margin-top: 0rem;
    
  }

  .profile-container{
    margin-top:0;
    width: 66%;
    height: 20vh;
  }
  .profile-user-info{
    margin-top: 1rem;
    height: 10%;
  }
  .right-container{
    width: auto;
    display: flex;
    flex-direction: column-reverse;
  }
  
}