.main-container {
  box-sizing: border-box;
  height: 120vh;

}

.left-container {
  background-color: #fbfbf9;
  margin-left: 5.2%;
  margin-top: 2%;
  width: 35%;
  height: 80%;
  border: 3px #D0D5DD solid;
  border-radius: 5px;
  margin-right: 5%;
  float: left;
}


.right-container-top {
  background-color:#fbfbf9;
  margin-left: 0%;
  margin-top: 2%;
  width: 49.5%;
  
  border-radius: 5px;
  float: left;
  height: 320px;
    
}

.right-container-bottom {
  background-color: #fbfbf9;
  margin-left: 0%;
  width: 49.5%;
  
  float: left;
  height: 410px;
  border-radius: 5px;
  margin-top: 2%;
}



/* title details */

.title-container{
  background-color: #fbfbf9;
  border: 5px #D0D5DD solid;
  border-radius: 15px;
  display: flex;
  margin: auto;
  width: 90%;
  height: 13%;
  align-items: center;
  margin-top: 4%;
  
}

.title-user-img {
width: 5.5%;
margin-left: 4.5%;

}


.title-user-name {
font-family: var(--textFont);
font-size: 35px;
margin-left: 3%;
color: rgb(109, 109, 109);
  
}

.title-buttons-container {
  margin-left: 19%;

  
}

.title-myListings-button {
  background-color:white;
  border-radius: 15px;
  opacity: 0.8;
  border-style: 2px #D0D5DD solid;
  width: 200px;
  cursor: pointer;
  font-family: var(--textFont);
  font-size: 1.5rem;
  padding: .35rem;

}

.title-myMessages-button {
  background-color: white;
  border-radius: 15px;
  opacity: 0.8;
  border-style: 2px #D0D5DD solid;
  width: 200px;
  cursor: pointer;
  font-family: var(--textFont);
  font-size: 1.5rem;
  padding: .35rem;
  margin-left: 10px;

}


.title-myListings-button:hover, .title-myMessages-button:hover{
  box-shadow: var(--highLightTwo) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}


/* profile details */

.profile-container {
  background-color: #fbfbf9;
  border: 3px #D0D5DD solid;
  border-radius: 15px;
  box-sizing: content-box;
  width: 80%;
  height: 45%;
  align-items: center;
  margin-top: 4%;
  margin-left: 10%;
  font-family: var(--textFont);
 
}

.profile-user-name {

  display: flex;
  justify-content: center;
  padding-top: 5%;
}

.profile-user-info {
  display: block;
  margin-top: 6%;
  text-align: left;
  line-height: 35px;
  font-size: 20px;
  margin-left: 5%;

 
}

/* plot image */

.plot-picture {
  display: flex;
  margin-top: 5%;
  margin-left: 5%;
  width: 90%;
  height: 45%;
  border-radius: 10px;

}


/* pie chart */

.plot-chart {

  display: flex;
  justify-content: center;
  background-color: #fbfbf9;
  margin-top: 2%;
  margin-left: 25%;
  width: 50%;
  height: 95%;
 

}


/* crop table */

/* in a different file - CropTable.module.css */








 @media screen and (max-width: 1024px) {
  .title-user-img{
    width: 30%;
    height: auto;
    float : right;
    margin-left: 2rem;
  }
  .profile-container{
    
    float : right;
  }
  .profile-user-info{
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  .profile-user-info{
    font-size: 1.2rem;
  }
  .container{
    margin-top: 2%;
    width: 85%;
    height: 70px;
  }

  .h1element{
    font-size: 2em;
  }
  .search-button{
    line-height: 11px;
  }
  .logo{
    width: 0;
  }
  .pieChart{
    width: 17rem;
    height: 17rem;
    margin-top: 0;
    margin-left: 4.5rem;
    margin-bottom: 5rem;
  } 
   
 } 
 /* ////////////////// */
/* Breakpoint @ 768px */
@media screen and (max-width: 768px){
  .container{
    margin-top: 4%;
    width: 95%;
    height: 70px;
    flex-direction: row;
  }
  .h1element{
    font-size: 2rem;
    margin: auto;
    line-height: 40px;
  }
  .imageProfile{
    /* margin: auto;
    margin-top: 2rem; */
    width: 5rem;
    height: 5rem;
    margin-top: 2rem;
  }
  .carouselContainer {
    width: 46%;
    margin: auto;
    margin-top: 2rem;
  }
  .userPlotImage{
    width: 100%;
    height: 100%;
    
  }
  .h4UserInfo{
    font-size: 1rem;
    width: 200px;
  }
  .imageProfile{
    /* margin: auto;
    margin-top: 2rem; */
    width: 3.5rem;
    height: 3.5rem;
    margin-top: -2rem;
  }
  .pieChart {
    width: 40%;
    height: 40%;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }  

}
/* /////////////////// */
/* Breakpoint @ 425px */
@media screen and (max-width: 820px) {

  .container{
    margin-top: 12%;
    width: 90%;
    height: 50px;
    flex-direction: column;
   
  }
  .h1element{
    font-size: 2.1em;
    margin: auto;
    line-height: 40px;
  }

  .buttonsContainer{  
    margin: auto;
    margin-top: 1.5rem;
  }
  .carouselContainer {
    width: 90%;
    height: 30%;
    margin-top: 23%;
  }
  .userPlotImage{
    width: 100%;
    height: 100%;
    
  }
  
  .mainContainer{
    flex-direction: column;
  }
  .profileContainer{
    display: flex;
    margin-bottom: 2rem;
    line-height: 1px;
    justify-content: space-between;
  }
  .profile{
    min-width: 70%;
    height: 100%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
  }
  .profileInformation{
    margin-top: 2rem;
  }
  .h2UserDetails{
    font-size: 1.5rem;
   
  }
  .h4UserInfo{
    font-size: 1rem;
  }
  .imageProfile{
    /* margin: auto;
    margin-top: 2rem; */
    width: 4rem;
    height: 4rem;
    margin-top: 0;
  }
  .pieChart {
    width: 80%;
    height: 80%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }  
}  




/* //////////////////// */
/* Breakpoint @ 390px */
@media screen and (max-width: 375px) {

  .main-container {
    justify-items: center;
   flex-direction: column;

  }

  .title-container{
    border-radius: 15px;
    width: 90%;
    height: 100px;
    align-items: center;
    margin: auto;
    margin-top: 4%;

  }

  .title-mylistings-button {
    opacity: 0.8;
    cursor: pointer;
    font-family: var(--textFont);
    font-size: 1.5rem;
  }

  .left-container {
    margin-top: 30%;
    
    border: 3px #D0D5DD solid;
    border-radius: 5px;
   
    width: 100%;
    flex-direction: column;

    
  }
  
  .right-container-top {
    margin-top: 22%;
    border-radius: 5px;
    width: 100%;
    
    flex-direction: column;


  }
  
  .right-container-bottom {
    border-radius: 5px;
    margin-top: 14%;
    width: 100%;
    margin-bottom: 10rem;
  }
  
  .title-container{
    margin-top: 2%;
    border-width: 3px;
    margin-left: 18%;
    width: 100%;
  }

  .title-user-img{
    width: 20%;
    margin-left: 5%;

  }

  .title-user-name{
    width: 100%;
    height: 25%;
    font-size: 1em;
  }

  .title-buttons-container{  
    margin: auto;
    margin-top: 2rem;
    /* width: 5%;
    height: 5%; */
    display: none;
  }

  .title-mylistings-button {
    border-radius: 15px;
    opacity: 0.8;
    width: 80px;
    cursor: pointer;
    font-family: var(--textFont);
    font-size: 1.5rem;
    background-color: blue;
    justify-items: center;
    display: none;

  
  }
 
  .profile-container{
    display: flex;
    margin-top: 0%;
    flex-direction: column;
    /* background-color: green; */
    width: 100%;
    height: auto;
  }

  .profile{
    min-width: 72%;
    height: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: ;
  }

  


  .plot-picture{
    margin-top: 2rem;
    
  }

  .plot-chart {
    width: 100%;
    height: 100%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .crop-table-container{
    margin-bottom: 4rem;
    margin-top: 2rem;
    width: 100%;
    height: 100%;
    
  }
  
} 

