@import url('https://fonts.googleapis.com/css2?family=Explora&display=swap');

.garden_tips{
  font-size: 2.4rem;
  width: 100%;
  margin: auto;
  text-align: center;
  margin-bottom: 2rem;
  font-family: 'Explora', cursive;
  font-weight: 600;
  letter-spacing: 0.2rem;
}