.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/illustrations/landing-image.png");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
  height: 100vh;  
}

.cards-container {
  height: 60vh;
  width: 100%;
}

.text-container {
  display: flex;
  width: 75%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  line-height: 1.1;
  margin-right: 4%;
  font-family: var(--textFont);
}

.title {
  font-size: 17vh;
  letter-spacing: 0.1em;
  font-family: var(--titleFont);
  font-weight: 300;
}

.sub-title {
  font-size: 4.5vh;
  letter-spacing: 0.4em;
  font-weight: 200;
  padding-bottom: 20px;
}

.p {
  font-family: var(--textFont);
  font-size: 1.7rem;
  font-weight: 200;
  width: 50%;
  line-height: 1.4;
}

.button-container {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  padding-top: 30px;
}

.button-one,
.button-two {
  border-radius: 999px;
  box-sizing: border-box;
  font-family: var(--textFont);
  color: #ffffff;
  cursor: pointer;
  opacity: 1;
  border: 2px solid;
  border-color: white;
  padding: 8px 18px;
  text-align: center;
  font-size: 0.94rem;
  font-weight: 600;
  height: 55px;
  width: 160px;
}

.button-one {
  background: var(--highLightOne);
  box-shadow: var(--highLightOne) 0 10px 20px -10px;
}

.button-two {
  background: var(--highLightTwo);
  box-shadow: var(--highLightOne) 0 10px 20px -10px;
}

.our-mission-title{
  background-color: rgb(206, 204, 110, 0.3);
  font-family: var(--titleFont);
  color: var(--subtitleColor);
  text-align: center;
  font-size: 2.5rem;
  padding-top: 1.5%;
  width: 100%;
}

.our-mission-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 90vh;
  background-color: rgb(206, 204, 110, 0.3);
}

.mission-container-bottom{
  align-items: flex-end;
  justify-content: space-between;
  display: flex;
  width: 100%;
  height: 100%;
}

.mission-image-container{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../public/illustrations/girl-pumpkin.png');
  width: 50%;
  height: 90%;
}

.mission-cards-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.cards-grid{
  height: 90%;
  width: 90%;
  display: grid;
  grid-gap: 30px;
  grid-template-columns:  minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) ;
 
}
.mission-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  border-radius: 10px;
  background-color: #ffffff;
}

.mission-card-icon{
  height: 40%;
}

.mission-paragraph{
  width: 90%;
  text-align: center;
  font-family: var(--textFont);
  font-size: 100%;
  line-height: 1.2;
  letter-spacing: 0.05em;

}

.mission-card-heading{
  font-size: 150%;
  font-family: var(--titleFont);
  color: var(--subtitleColor);
  line-height: 1.8;
}

.testimonies-title{
  font-family: var(--titleFont);
  color: var(--subtitleColor);
  text-align: center;
  margin-top: 3%;
  font-size: 2.5rem;
  width: 100%;
}

@media only screen and (min-width: 1900px) {
  .text-container {
    display: flex;
    width: 70%;
    margin-right: 200px;
    padding-bottom: 1%;
  }
  .sub-title {
    padding-bottom: 40px;
  }

  .p {
    font-size: 1.9rem;
    width: 50%;
    line-height: 1.5;
  }
}

/* ipad */

@media only screen and (max-width: 1400px) {
  .image-container {
    background-image: url('../public/illustrations/desktop-wallpaper.png');
    height: 75vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .p {
    background-color: rgb(255, 255, 255, 0.5);
    width: 90%;
    font-size: 4vh;
    text-align: center;
  }
  .sub-title {
    background-color: rgb(255, 255, 255, 0.5);
    font-size: 4.2vh;
    font-weight: 300;
  }

  .text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding-bottom: 1%;
  }

  .title {
    font-size: 14vh;
  }
}

@media only screen and (max-width: 1024px) {
  .testimonies-title, .our-mission-title{
    font-size: 1.5rem;
  }
 
  .mission-paragraph{
    font-size: 80%;
   
   }
   
   .mission-card-heading{
     font-size: 100%;
 
   }

  
}

@media only screen and (max-width: 920px) {
  .mission-image-container{
    display: none;
  }
  .testimonies-title, .our-mission-title{
    font-size: 1.5rem;
  
  }
  .mission-cards-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .mission-paragraph{
    font-size: 100%;
   
   }

  .title{
    font-size: 6rem;
  }

  .sub-title {
    font-size: 1.8rem;

  }
  .mission-card-heading{
    font-size: 150%;

  }
  
  .p {
    font-size: 1.7rem;
    width: 90%;

  }
}


@media only screen and (max-width: 420px) {

  .testimonies-title, .our-mission-title{
    font-size: 1rem;
  
  }
  .image-container {
    height: 70vh;
    
  }
  .p {
    display: none;
  }

  .title{
    font-size: 2.9rem;
    background-color: rgb(255, 255, 255, 0.5);
  }

  .sub-title {
    font-size: 0.9rem;
    background-color: rgb(255, 255, 255, 0.5);

  }

  .button-one, .button-two{
    height: 40px;
    width: 110px;
    font-size: 0.6rem;
  }

  .our-mission-container{
    height: 60vh;
  }

  .mission-card-icon{
    height: 30%;
  }
  
  .mission-paragraph{
   font-size: 70%;
  
  }
  
  .mission-card-heading{
    font-size: 100%;

  }
}

/* @media only screen and (max-width: 1200px) {

.landing {
    position: absolute;
    height: 190vh;
    width: 120vh;
         }

.p {
  display: none;
   }

.title {
   font-size: 9vh;
   font-weight: 700;
   margin-left: -3vh;
   margin-top: 4vh;
      }

.sub-title {
    font-size: 3vh;
    margin-left: 5vh;
           }

.button-container {
     margin-top: 5vh;
     margin-left: 4.5vh;
                  }

.button-one,.button-two {
      font-size: 1.5rem;
      font-weight: 600;
}
  
  }

   */

/*  mobile   */
/* @media only screen and ( max-width: 440px ) {

.landing {
    background-image: url('/illustrations/desktop-wallpaper-landing.png'); 
    background-repeat: repeat;
    background-size: contain;
    background-size: 200vh 150vh;
    position: absolute;
    height: 280vh;
    width: 140vh;
    justify-content: center;
        }


.image-container {
        background-image: none;
                 }

.p {
  display: none;
   }



.text-container {
        margin-top: 25vh;
        margin-left: -3vh;
        width: 130vh;
                }

 .title {
    font-size: 15vh;
    font-weight: 700;
    opacity: 0.8;
    background-color: #fbfbf9;
    margin-left: 5vh;
        }


  .sub-title {
      font-size: 5vh;
      margin-left: 24.5vh;
      opacity: 0.8;
      background-color: #fbfbf9;
      padding: 0vh; 
             }
    

.button-container {
          margin-top: 15vh;
          margin-left: 17vh;
                  }


.button-one,.button-two {
            background: var(--highLightOne);
            box-sizing: content-box;
            border: 1vh var(--highLightOne) solid;
            padding: 10px 45px;
            text-align: center;
            font-size: 2.4rem;
            height: 10vh;
            width: 30vh;
            font-weight: 600;
                        }

.cards-container {
          margin-top: -5vh;
          margin-left: 12vh;
          width: 115vh;
          height: 150vh;
          padding: 10px;
                }
                }
   */
