
.image-container{
    background-image: url('/illustrations/landing-image.png');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
    height: 95vh;
    padding: 30px;
    position: relative;
   
    }

.cards-container{
    height: 80vh;
    width: 100%;
}

.text-container{
    display: flex;
    width: 70%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 10%;
    padding-top: 3%;
    font-family: var(--textFont);
    position: relative;
}

    .title{
        font-size: 15vh;
        letter-spacing: 0.1em;
        font-family: var(--titleFont);
        font-weight: 300;
       
    }
    .sub-title{
        font-size: 4.5vh;
        letter-spacing: 0.em;
        padding-bottom: 40px;
        font-weight: 50;

    }
    .p{
        font-size: 2.5vh;
        letter-spacing: 0.5;
        width: 60%;
        line-height: 1.7;
    }

    .button-container{
        display: flex;
        gap: 40px;
        width: 60%;
        align-items: center;
        justify-content: flex-start;
        margin-top: 30px;
       
     
    }

    .button-one, .button-two {
        border-radius: 999px;
        box-sizing: border-box;
        font-family: var(--textFont);
        color: #FFFFFF;
        cursor: pointer;
        opacity: 1;
        border: 2px solid;
        border-color: white;
        padding: 8px 18px;
        text-align: center; 
        font-size: 1.2rem; 
        height: 55px;
        
      }

      .button-one{
        background: var(--highLightOne);
        box-shadow:var(--highLightOne) 0 10px 20px -10px;
    
      }

      .button-two{
        background: var(--highLightTwo);
        box-shadow:var(--highLightOne) 0 10px 20px -10px;
      
      }






    
    /*  mobile   */
  @media only screen and ( max-width: 390px ), ( max-height: 840px ) {

.landing {


background-image: url('/illustrations/desktop-wallpaper-landing.png'); 
background-repeat: repeat;
background-size:contain;
background-size: 100% 45%;
position: absolute;
height: 400%;
width: 500%;
justify-content: center;


}

.image-container {
  position: absolute;
 
width: 500%;
  
  }


  .p {
       display: none;
    }

.cards-container {

  margin: 1100px 400px 0px 0px;
  width: 65%;
  height: 40%;
  padding: 10px;
 

}
.text-container {


 
 
  padding-left: 10%;
  padding-top: 3%;
 
  position: relative;
}


  }
  