.card-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    border:solid;
    justify-content: center;
    align-items: center;

}

.card{
    width:50%;
    border:solid;
    border-color: red;
}
