.listing-page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-container {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;

}

.button-container{
  display: flex;
  gap:20px;
}
.search-button,
.clear-button {
  font-family: var(--textFont);
  color: #ffffff;
  cursor: pointer;
  opacity: 1;
  border: none;
  padding: 8px 18px;
  text-align: center;
  border-radius: 5px;
  background: var(--highLightTwo);
  height: 50px;
}

.search-image {
  height: 200px;

}

.search-button:hover,
.clear-button:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.input-bar {
  padding: 15px;
  width: 40%;
  border-radius: 5px;
  height: 50px;
  border: 1px solid #e6e6e6;
}

.input-bar:focus {
  outline: none;
}

.card-container {
  border-radius: 5px;
  display: grid;
  padding: 50px;
  grid-template-columns: auto auto;
  width: 85%;
  gap: 30px;
}

.location-crop, .message-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 5%;
}

.key {
    color: var(--lighterFontColor);
}

.location-key-value{
    gap:10px;
    display: flex;
}

.one-card {
  background-color: #ffffff;
  display: flex;
  height: 150px;

  box-sizing: border-box;
  border-color: rgba(31, 24, 17, 0.282);
  cursor: pointer;
  font-family: var(--textFont);
  font-size: 1rem;
  border-radius: 5px;
  box-shadow: rgb(0, 0, 0, 0.5) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.user-info {
  background-color: #ffecd4;
  border-radius: 5px 0px 0px 5px;
  display: flex;
  width: 20%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
}


.title,.username{
    width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.username{
  text-align: center;

}

.one-card:hover {
  /* box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px; */
  box-shadow: #ffffff 0 0 0 3px, transparent 0 0 0 0;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-info {
  width: 90%;
  height: 100%;
}

.profile-img {
  height: 40%;
}

.location-crop {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 5%;
}

.post-info {
  display: flex;
  padding: 10px;
  gap: 5px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}



/* BreakPoint-Web */
@media screen and (max-width: 1024px) {
  .card-container {
    grid-template-columns: auto;
    width: 100%;

  }

}
/* Tablet */ 

@media screen and (max-width: 820px) {
  .card-container {
    padding:10px;
  }
  .search-container{
    height: 100px;
   
  }
}

/* Mobile */ 
@media screen and (max-width: 375px) {
  .card-container {
    padding:10px;
  }
.search-container{
  width: 90%;
  height: 100px;
}
  .search-button,
.clear-button{
  padding:  6px 14px;
}

.input-bar {
  width:50%
}

.post-info{
  font-size: 13px;
}
.location-crop, .message-container{
  gap: 2%;
}
.user-info{
  width:32%
}

.title,.username{
  width: 90%;

}
}

@media screen and (max-width: 420px) {
  .card-container {
    padding:10px;
  }
.search-container{
  width: 90%;
  height: 100px;
}
  .search-button,
.clear-button{
  padding:  6px 14px;
}

.input-bar {
  width:50%
}

.post-info{
  font-size: 13px;
}
.location-crop, .message-container{
  gap: 2%;
}
.user-info{
  width:30%
}
}