.log-in-container{
  vertical-align: bottom;
    display: flex;
    overflow: hidden;
    height:calc(100vh - 9vh);
    max-height: 100vh;
    background-image: url('../public/illustrations/desktop-wallpaper.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    font-family: var(--textFont);
}

.glass-container{
border-radius: 16px;
background: rgba(255, 255, 255, 0.66);
border-radius: 16px;
backdrop-filter: blur(6.3px);
    min-width: 40%;
    height: 80%;
}

.log-in-card{
background-color: white;
width: 80%;
height: 80%;
border-radius: 20px;
box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.form-container, .log-in-card, .glass-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.form-container{
    width: 80%;
    height: 70%;
    gap: 2vmin;
 
    
}
.title{
  font-size: 4vmin;
}
.links{
    display: flex;
    justify-content: space-between;
    width: 80%;
    color: var(--darkColour);
    font-size: 2vmin;
    text-decoration: underline;
}

.button {
    border-radius: 999px;
    margin-top: 20px;
    box-sizing: border-box;
    font-family: var(--textFont);
    color: #FFFFFF;
    cursor: pointer;
    opacity: 1;
    border: 2px solid;
    border-color: white;
    padding: 8px 18px;
    text-align: center; 
    font-size: 3vmin; 
    height: 15%;
    width: 40%; 
    background-color: var(--highLightTwo);
    box-shadow:var(--highLightTwo) 0 10px 20px -10px;

  }

  .form-email-input, .form-password-input{
    display:flex;
    flex-direction: column;
    width: 100%;
  }

  .input{
    border-radius: 5px;
    height: 5vmin;
    margin-top: 0.6vmin;
    padding-left: 1vmin;
    border: 1px solid #e6e6e6;
    font-size: 2vmin;
  }

  .label{
    font-weight: 200;
    color: var(--lighterFontColor)
  }

/* media query for ipad(medium screen size) */

  @media (max-width: 1200px) {
    .glass-container{
       
            min-width: 50%;
            height: 80%;
        }     
  }

  /* media query for mobile (small screen size) */

  @media (max-width: 820px) {
    .glass-container{
       
            min-width: 80%;
            height: 60%;
        }
        .log-in-container{
            background-image: url('../public/illustrations/phone-wallpaper.png');
        }
             
  }