.post-page-container{
    gap: 30px;
    min-height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

}

.post-container{
    display: grid;
    grid-template-columns: auto auto;
    width: 90%;
    padding: 20px;
    gap: 20px;
}

.header-container{
    display: flex;
    height: 8%;
    width: 88%;
    font-family: var(--titleFont);
    background-color: #086a0633;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.new-post-icon, .new-post-icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
}

.form-container, .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    width: 100%;
  }

  .input, .input-textarea{
    border-radius: 5px;
    padding-left: 1vmin;
    border: 1px solid #e6e6e6;
  }
  
.one-card{
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    border-style: solid;
    border-width: 0.5px;
    box-sizing: border-box;
    border-radius: 0px 0px 5px 5px;
    box-shadow: rgb(0, 0, 0, 0.5) 0px 4px 6px -1px,
      rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    font-family: var(--textFont);
    font-size: 1rem;

}
.post-card-header{
    background-color:var(--highLightOne);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    font-family: var(--titleFont);
    font-weight: lighter;
    color: white;
}
.post-card-buttons{
    display: flex;
    justify-self: flex-end;
    justify-content: space-between;
    gap:10px;
    height: 20px;
}
.location-crop-plot-banner{
    display: flex;
    justify-content: space-between;
}
.post-card-description{
    width: 100%;
}


.post-info{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px;
    gap: 10px
}
