.post-page-container{
    gap: 30px;
    min-height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

}

.post-container{
    display: grid;
    grid-template-columns: auto auto;
    width: 90%;
    padding: 20px;
    gap: 20px;
}

.header-container{
    display: flex;
    height: 8%;
    width: 88%;
    font-family: var(--titleFont);
    background-color: #086a0633;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.pop-up{
    height: 100%;
    width: 100%;
}
.new-post-icon, .new-post-icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
}

.form-container, .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: orange;
    height: 100%;
    width: 100%;
  }

  .form-title-banner{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

  .postcode, .date, .crop, .percentage, .description, .title{
    display: flex;
    flex-direction: column;
  }

  .postcode, .date, .crop, .percentage{
    width: 48%;
  }

  .input, .input-textarea{
    border-radius: 5px;
    height: 5vmin;
    margin-top: 0.6vmin;
    padding-left: 1vmin;
    border: 1px solid #e6e6e6;
  }

  .edit-input{
    border-radius: 5px;
    height: 3vmin;
    width: 80%;
    border: 1px solid #e6e6e6;
  }
  .edit-input-description{
    border-radius: 5px;
    height: 7vmin;
    width: 90%;
    border: 1px solid #e6e6e6;
  }

  .edit-crop-dropdown{
    border-radius: 5px;
    height: 3vmin;
    margin-top: 0.6vmin;
    padding-left: 1vmin;
    border: 1px solid #e6e6e6;
  }
  
  .date-postcode-container, .crop-percentage-container{
    display: flex;
    justify-content: space-between;
  }


  .button {
    border-radius: 999px;
    margin-top: 20px;
    box-sizing: border-box;
    font-family: var(--textFont);
    color: #FFFFFF;
    cursor: pointer;
    opacity: 1;
    border: 2px solid;
    border-color: white;
    padding: 8px 18px;
    text-align: center; 
    font-size: 2vmin; 
    height: 45px;
    width: 40%; 
    background-color: var(--highLightTwo);
    box-shadow:var(--highLightTwo) 0 10px 20px -10px;

  } 
.one-card{
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    border-style: solid;
    border-width: 0.5px;
    box-sizing: border-box;
    border-radius: 0px 0px 5px 5px;
    box-shadow: rgb(0, 0, 0, 0.5) 0px 4px 6px -1px,
      rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    font-family: var(--textFont);
    font-size: 1rem;

}
.post-card-header{
    background-color:var(--highLightOne);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    font-family: var(--titleFont);
    font-weight: lighter;
    color: white;
}
.post-card-buttons{
    display: flex;
    justify-self: flex-end;
    justify-content: space-between;
    gap:10px;
    height: 20px;
}
.location-crop-plot-banner{
    display: flex;
    justify-content: space-between;
}
.post-card-description{
    width: 100%;
}


.post-info{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px;
    gap: 10px
}
