.post-page-container{
    background-color: aquamarine;
    gap: 30px;
    min-height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

}

.post-container{
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: auto auto;
    width: 90%;
    height: 40%; 
    padding: 20px;
    gap: 20px;
}

.header-container{
    display: flex;
    height: 10%;
    width: 90%;
    background-color: aqua;
    justify-content: center;
    align-items: center;
}
/* .newPost-container {
    font-family: var( --textFont);
    border-radius: 5px;
    background-color: var(--secondHighlight);
    padding: 50px 40px 50px 40px;
    max-width: 1500px;
    margin: auto;
    display: flex;
    align-items: center;
    border-radius: 15px;
} */

/* .newPost-title {
    color: var(--darkColor);
    font-family: var( --titleFont2);
    margin-top: 30px;
    margin-bottom: 60px;
    text-align: center;
    justify-content: center;
    font-size: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-weight: 900;
} */

.input {
    width: 100%;
    min-width: 200px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 20px;
    color: purple;
}


.textarea {
    height: 250px;
}

.label {
    font-size: 25px;
    color: blue;
}

.one-card{
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 0.5px;
    box-sizing: border-box;
    border-color: rgba(31, 24, 17, 0.282);
    cursor: pointer;
    /* font-family: var(--textFont); */
    font-size: 1rem;
    /* padding: .35rem; */
}
.post-card-header{
    background-color:var(--highLightOne);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40%;
    color: white;
}
.post-card-buttons{
    display: flex;
}
.location-crop-plot-banner{
    display: flex;
    justify-content: space-between;
}
.post-card-description{
    width: 100%;
}
.user-post-icon{
    width: 30px;
    height: 30px;
  }

.post-info{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px;
    gap: 10px
}
.profile-img{
    height: 10vh;
}